<mat-toolbar color="primary">

  <mat-toolbar-row>
    <span>Active Tree Application</span>
    <span class="example-spacer"></span>
    <mat-form-field>
      <mat-select (ngModelChange)="onChange($event)" [ngModel]="selectedSystem">
        <mat-option *ngFor="let system of systems" [value]="system">
          {{system}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">verified_user</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>