<ng-container *ngIf="sysId">

  <div fxLayout="row">
    <div fxFlex="20">
      <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
        <!-- This is the tree node template for leaf nodes -->
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
          <!-- use a disabled button to provide padding for tree leaf -->
          <button mat-icon-button disabled></button>
          <button mat-icon-button (click)="getEntity(node)">
            {{node.name}}
          </button>
        </mat-tree-node>
        <!-- This is the tree node template for expandable nodes -->
        <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
          <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.name">
            <mat-icon class="mat-icon-rtl-mirror">
              {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
          </button>
          {{node.name}}
        </mat-tree-node>
      </mat-tree>
    </div>
    <div fxFlex="80">
      <app-item-details *ngIf="selectedEntity" [selectedEntity]="selectedEntity" [currentGroup]="currentGroup"
        (updateTree)="updateTree()">
      </app-item-details>
    </div>
  </div>

</ng-container>