<form class="form-item">

    <mat-form-field class="example-full-width">
        <mat-label>Id:</mat-label>
        <input matInput [value]="selectedEntity._entityTypeId" disabled />
    </mat-form-field>
    <mat-divider [vertical]="true"></mat-divider>

    <mat-form-field class="example-full-width">
        <mat-label>Name:</mat-label>
        <input matInput [(ngModel)]="selectedEntity._name" [ngModelOptions]="{standalone: true}" />
    </mat-form-field>
    <mat-divider [vertical]="true"></mat-divider>
    <mat-form-field class="example-full-width">
        <mat-label>Group Name:</mat-label>
        <input matInput [value]="currentGroup._name" disabled />
    </mat-form-field>
    <mat-divider [vertical]="true"></mat-divider>

    <label>Icon:</label>
    <img class="icon" src={{selectedEntity.Icon._iconName}} />
    <mat-divider [vertical]="true"></mat-divider>

    <button mat-button (click)="updateEntity()">save</button>
</form>